.banner-parent{
    display:flex;
    justify-content:space-between;
    margin-bottom: 40px;
}

.banner-left{
    width:500px;
}

.bannerImage-left{
    width:100%;
}
.banner-right{
    flex-direction:column;
    width:40%
}