.div-up{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.div-up-A{
    width:300px;
}

.div-up-B{
    text-align: center;
    width:300px;
}

.div-up-C{
    width:300px;
}

.storeImage{
    margin-top: 50px;
    display:flex;
    justify-content: space-around;
}

.div-down{
    display: flex;
    border:1px solid white;
    background-color: black;
    justify-content: space-between;
}